@use '../abstracts/variables' as *;

.btn-custom-size {
    padding: 0;
    width: 160px;
    height: 47px;
    line-height: 47px;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 34px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid transparent;
  }

.btn-custom-size.xl-size {
    width: 210px;
    height: 65px;
    line-height: 65px;
    font-size: 16px;
}

.btn-pronia-primary {
    background-color: $primary-color; /* Replace with your $pronia-primary color */
    border-color: $primary-color;
}
  
.btn-pronia-primary:hover {
    background-color: $text-gray; /* Replace with your $pronia-secondary color */
    border-color: $text-gray;
    color: $white;
  }