//--- All Variables - Related Stuff Included In This Area ---↓

// Font Family
$rubik-font: 'Rubik', sans-serif;

// Transition
$baseTransition: all 0.3s ease 0s;

// Color
$primary-color: #abd373;
$secondary-color: #525252;
$white: #ffffff;
$black : #000000;
$text-gray : #525252;
$text-light-gray : #a29b9b;

// Border Color
$border-color: #dee2e6;


$container-size : 1200px;
