@use '../abstracts/variables' as * ;



/* ---Header top --- */
.header {
    &-top{
        color: $white;
        background: $primary-color;

        &-left{
            .pronia-offer{
                text-transform: uppercase;
                letter-spacing: 0.7px;
                font-size: 14px;
            }
        }  
        
        &-right {
            display: flex;
            justify-content: flex-end;
        }
    }

}

/* ---Dropdown menu--- */
.dropdown {
    position: relative;
    display: inline-block;

    .btn{
        &-link{
            padding: 8px;
            outline: 0;
            border: 0;
            text-decoration: none;
    
        }
    }

    &-wrap {
        display: flex;
        align-items: center;

        .ht-btn {
            text-transform: uppercase;
            line-height: 47.5px;
            color: #fefefe;
            font-size: 14px;
            padding: 0;
            margin-left: 17px;
        
            &:after {
              font-family: FontAwesome;
              border: 0;
              content: '\f078';
              font-size: 10px;
              padding-left:4px;
            }

            &:hover {
                color: $white; 
              }
          }
      
    }

    &-menu {
        display: none;
        position: absolute;
        background-color: $white;
        box-shadow:0 5px 18px rgba(0, 0, 0, 0.15);
        top: 100%;
        right: 10px;
        min-width: 7rem;
        z-index: 1000;
        border: 0;
        border-radius: 0;

    }

    &-hover {
        background-color: $primary-color;
    }

    &.open .dropdown-menu{
        display: block;
    }

    .dropdown-item{
        width: 100%;
        font-weight: 400;
        text-align: start;
        padding: 6px 20px;

        &:hover {
            background: $primary-color;
            color: $white;
        }
    }

}

/* ---Header Middle--- */
.header {
    &-middle {
        padding: 30px 0;
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

/* ---Header logo--- */ 
.header-logo {
    display: flex;
    align-items: center;
    @media (max-width: 479px) {
        width: 140px;
    }
}

/* ---Header Contact--- */
.header{
    &-contact{
        display: flex;
        align-items: center;

        a {
            color: $text-gray;
            font-size: 18px;
            transition: color 0.3s ease;

            &:hover{
                color: $primary-color;
            }
        }

        i{
            background-color: $primary-color;
            color: $white;
            font-size: 21px;
            width: 44px;
            height: 42px;
            border-radius: 10px;
            text-align: center;
            line-height: 42px;
            margin-right: 15px;
        }
    }
} 

/* --- Header middle right --- */ 
.header-right{
    > ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        > li {
            padding-right: 15px;

            a {
                color: $text-light-gray;
                font-size: 19px;
                transition: color 0.3s ease;


                &:hover{
                    color: $primary-color;
                }
            }

            .user-btn {
                background: none;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                
                i {
                    font-size: 21px; 
                    color: $text-light-gray;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $primary-color; 
                    }
                }
            }

            &.minicart {
                &-wrap {
                    padding-right: 12px;
                }
            }

            .minicart {
                &-btn {
                    .quantity {
                        background-color: $primary-color;
                        color: $text-gray;
                        border-radius: 100%;
                        text-align: center;
                        font-size: 14px;
                        color: $white;
                        display: block;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        position: absolute;
                        top: -3px;
                        right: 0;
                    }
                }
            }
        }
    }
}

/* ---Header bottom--- */
.header{
    &-bottom{
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
}

/* ---Main header---*/
.main {
    &-nav{
        > ul{
            display : flex;
            justify-content: center;

            >li {
                display: inline-block;
                padding-right: 35px;

                a {
                    color: $text-gray;
                    text-transform: uppercase;
                    display: flex;
                    line-height: 50px;
                    font-size: 14px;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

        }
    }
}

/* ---Header Sticky--- */
.header {
    &-sticky {
        display: none; // Başlanğıcda gizlidir
    }
}

.sticky {
    animation: fadeInDown 0.7s ease-out forwards; /* Animasiya əlavə edirik */
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: $white;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    display: block; // Yalnız scroll sonrası görünəcək
    .header-logo-wrap {
        top: 0;
        height: 100%;
    }
    .main {
        &-nav {
            > ul {
                > li {
                    > a {
                        padding-top: 25px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
/* Animasiya Tərifi */
@keyframes fadeInDown {
    0% {
        transform: translateY(-100%); /* Başlanğıc vəziyyəti, header üstə çıxır */
        opacity: 0; /* Başlanğıcda şəffaf */
    }
    100% {
        transform: translateY(0); /* Əsas mövqeyə qayıdır */
        opacity: 1; /* Tam görünür */
    }
}